<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @data_source_type.type_name %>
</p>

<%= link_to 'Edit', edit_data_source_type_path(@data_source_type) %> |
<%= link_to 'Back', data_source_types_path %>
