<% @title="My dashboards" %>

    <% @dashboards.each do |dashboard| %>
      <div class="col-lg-4 dashboard-icon-container" >
      	<i class="fa fa-tachometer fa-5x"></i><br/>
      	<%= label_tag dashboard.name %>
        <%= link_to "Show", "dashboards/#{dashboard.id}", class: "btn btn-primary" %>
        <%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
<br>