/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.dash-nav-link {
    display: flex;
    align-items: center;

    .dash-svg-wrapper {
        flex-grow: 0.25;
        flex-basis: 20%;
    }

    &:visited {
        color: black;
    }
    &:hover {
        color:  white;
    }
}
.dash-sidebar {
    height: 100vh;
}
.dash-nav {
    padding-top: 1rem;
}
.dd-list-elements .dash-svg-wrapper{
    text-align: right;
    svg{
        margin-right: 10px;
    }
}
.dash-row{
    margin-top: 20px;
}